/* Top Header (Nav and main) */
html {
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* outline: 1px solid red !important; */
   /* background: rgb(100 0 0 / 0.1) !important; */
}

body {
    
    /*background: url(../resources/blurry_background.svg);*/
    font-size: 16px;
    font-family: Questrial, "Times New Roman", sans-serif;
}




    


/*:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121; 
}

.dark-theme {
    --primary-color: #252525;
    --secondary-color: #fff;
}  */

/*main {
    display: grid;
    min-height: 100vh;
    font-family: Questrial, "Times New Roman", sans-serif;
    place-items: center;
    overflow:  hidden;
    margin: 0;
    background-color: 
    font-size: 0.75rem;
}*/


/* Login/Signup CSS */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  
}

.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
  border: 1px solid #F7F7F8;
  filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #212121;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #8B8E98
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.password-requirements{
  font-size: 0.7rem;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  opacity: 0.6;
  width: 100%;
}

.req {
  line-height: 5px;
  padding: 5px;
  opacity: 0.7;
}



.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.sign-in_btn {
  width: 100%;
  height: 40px;
  border: 0;
  background: #0d6efd;
  border-radius: 7px;
  outline: none;
  color: #fff;
  cursor: pointer;

}

.sign-in_ggl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #212121;
  border-radius: 7px;
  outline: none;
  color: #fff;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
  
}

.sign-in_apl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #212121;
  border-radius: 7px;
  outline: none;
  color: #fff;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8B8E98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.note {
  font-size: 0.75rem;
  color: #8B8E98;
  text-decoration: underline;
}


#navbarNavAltMarkup {
  z-index: 2;
  text-decoration: none;
  
}


/*navbar toggler on smaller screen sizes*/
.switch {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  /*background: linear-gradient(45deg,
            rgb(183, 0, 255) 20%,
            rgb(255, 0, 170) 100%);*/
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.363);
  border-radius: 5px;
}

.switch input {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  position: absolute;
}

.switch div {
  width: 80%;
  height: 80%;
  margin: 10%;
  position: absolute;
}

.switch span {
  background: #fff;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}

.switch .line-1 {
  width: 50%;
  transform: translate(-100%, -10px);
  transform-origin: 0 0;
}

.switch .line-3 {
  width: 50%;
  left: auto;
  right: 0;
  transform: translate(0, 10px);
  transform-origin: 100% 0;
}

input:checked + div span.line-1 {
  transform: translate(0, 0) rotate(-45deg);
}

input:checked +  div span.line-3 {
  transform: translate(-100%, 0) rotate(-45deg);
}

input:checked + div span.line-2 {
  transform: translate(-50%, -50%) rotate(45deg);
}





/*header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 0.2rem;
}*/























/* CSS for main */

.welcome-home{ 
  
  font-size: 2rem;
  text-align: center;
  filter: blur(0px);
  transition: filter 0.3s ease-in-out;
  background-image: url(../resources/main-page-banner1.svg);
  background-size: cover;
  padding: 50px;
  line-height: 10rem;
  position: relative;

} 

.welcome-home::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Add desired opacity value */
  }
  
  /* Adjust the z-index property to ensure the overlay is behind the content */
  .welcome-home > * {
    position: relative;
    z-index: 1;
  }




.logo-welcome-home {
   padding-top: 4rem;
}



#search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



#search-bar {
   display: block;
   padding: 2rem 10rem;
   font-size: 1.3rem;
   font-family: Questrial, 'Times New Roman', sans-serif;
   
}

section {
  background: url(../resources/material_background.svg) no-repeat;
  background-size: cover;
  
}

.row {
  gap: 5rem;
}

#header-button {
  min-height: 20px;
}



button, #showcase-btn {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Questrial, 'Times New Roman', sans-serif;
    font-size: 1rem;
    
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    background-color: #5b8291;
   }
   
   button:disabled, #showcase-btn:disabled {
    pointer-events: none;
   }
   
   button:hover, #showcase-btn:hover {
    color: #fff;
    background-color: #5b8;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active, #showcase-btn:active {
    box-shadow: none;
    transform: translateY(0);
   }

   #modal-close:hover {
    transform: none;
    background-color: transparent;
   }

   


.search-blur {
    filter: blur(3px);
    -webkit-filter: blur(3px);
} 





.grid-container-container {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    ;
    
    align-content: space-between;
    /*min-width: 100%;*/
    /*min-height: 60vh;*/
    /*background-color: skyblue;*/
    /*background: url(../resources/elite_background.svg);*/
    width: 100%;
    padding: 50px 0px;
    
}

.elite-description {
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    font-size: 2rem;
    /*width: 50%;*/
}



#index-table {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    box-shadow: 0px 5px 10px #212121;
    border-radius: 30px;
    padding: 2rem;
    
}





#index-table tr th {
    font-weight: 900;
    padding: 2rem;
    cursor: default;
    background-image: linear-gradient(90deg, skyblue, blue, aqua, skyblue); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

 #index-table td {
    background-image: linear-gradient(90deg, skyblue, blue, aqua, skyblue); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0.5rem;
    font-weight: bolder;
    font-size: 1.2rem;
}

#index-table td a {
    text-decoration: none;
}

#free {
    color: var(--secondary-color);
}

.table-btn {
    display: flex;
    justify-content: center;
    text-align: center;
}



.grid-container {
    /*background-color: var(--secondary-color);*/
    /*width: 50%;*/
    text-align: center;
    display: flex;
    justify-content: center;
    /*min-height: 50vh;*/
    /*perspective: 1000px; dont knw yet because when u move it it goes over headerlogobig*/
    /*background: pink; */
    
}

.city h1{
    padding: 20px;
}
  
.grid-container h1 {
    display: flex;
    align-items: center;
}

/*.mid-mid {
    background: #252525;
    width: 100%;
    
}*/



.elite-description h1 {
   /* background-image: linear-gradient(90deg, red, blue, white); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;*/
    color: var(--secondary-color);
    font-weight: 900;
    font-size: 3rem;
    /*text-shadow:
    0.1em 0.1em 0 var(--primary-color);*/
}

#xmark {
    color: red;
}

#checkmark {
    color: green;
}




.city img {
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
    
}





.sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}

.sizes button, .table-price {
    background-image: linear-gradient(90deg, skyblue, blue, aqua, skyblue); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    /*box-shadow: 0px 5px 10px var(--secondary-color);*/
    border-radius: 30px;
    font-weight: bold;
    /*width: 40%;*/
    cursor: default;
}

.purchase {
    margin-top: 5rem;
    
    
}

.purchase button, .table-btn2 {
    width: 50%;
    padding: 1rem 0rem;
    background: linear-gradient(90deg, blue, skyblue, aqua, skyblue);
    border-radius: 0.9375em; 
    cursor: pointer;
    border: 0.125em solid #1A1A1A;
    transition: all 0.50s ease-out;
    margin: auto;
}

.table-btn {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
}







/*pricing table test*/
#modalz {
    width: 450px;
    background: linear-gradient(180deg, skyblue 0%, #FFFFFF 30.21%);
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
  
  #banner {
    width: 100%;
    height: 30px;
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  #title {
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #2B2B2F;
    margin-bottom: 15px;
  }
  
  #description {
    max-width: 80%;
    margin: auto;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #5F5D6B;
  }
  
  #tab-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    padding: 2px;
    background-color: #ebebec;
    border-radius: 9px;
    margin: 10px 20px 0px 20px;
  }
  
  #indicator {
    content: "";
    width: 50%;
    height: 3.75rem;
    background: #0d6efd;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    transition: all 0.2s ease-out;
  }
  
  #tab-container button {
    width: 50%;
    height: 28px;
    position: relative;
    z-index: 99;
    background-color: transparent;
    border: 0;
    outline: none;
    flex: none;
    align-self: stretch;
    flex-grow: 1;
    cursor: pointer;
    font-weight: 500;
  }
  
  #tab--1:hover ~ #indicator {
    left: 2px;
  }
  
  #tab--2:hover ~ #indicator {
    left: calc(50% - 2px);
  }
  
  #benefits {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  #benefits > span {
    font-size: 15px;
    color: #2B2B2F;
    font-weight: 700;
  }
  
  #benefits ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #benefits ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  
  #benefits ul li span {
    font-weight: 600;
    font-size: 12px;
    color: #5F5D6B;
  }
  
  #modal--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #ebebec;
  }
  
  #price {
    position: relative;
    font-size: 32px;
    color: #2B2B2F;
    font-weight: 900;
  }
  
  #price sup {
    font-size: 13px;
  }
  
  #price sub {
    width: fit-content;
    position: absolute;
    font-size: 11px;
    color: #5F5D6B;
    bottom: 5px;
    display: inline-block;
  }
  
  #upgrade-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 40px;
    background: #fafafa;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 7px;
    border: 0;
    outline: none;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  #upgrade-btn:hover {
    background-color: #0d6efd;
    color: #fff;
    
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

/* Context CSS */




.bottom-container2 {
    /*width: 100%;*/
    
    /*background: skyblue;*/
    
    padding: 50px 0px;
    margin: 0rem 20rem;
} 

.bottom-container0 h1 {
    
    color: skyblue;
    font-weight: 900;
    font-size: 1.5rem;
    
    margin-bottom: 10px;
}

.bottom-container0 h3 {
    margin-right: 10px;
}

.full-container {
    background: url(../resources/side-wave_background.svg);
}




.bottom-container0 p {
    font-size: 1rem;
    color: var(--secondary-color);
}

.bottom-container2 h1{
   /* width: 100%;*/
    font-weight: bolder;
    color: skyblue;
    margin-bottom: 10px;
}
.bottom-container2 p {
    color: var(--secondary-color);
}

.bottom-container2 h1 {
    font-size: 1.5rem;
}

.full-container {
    display: flex;
    justify-content: space-between;
}

.mac-mockup {
    width: 50%;
    display: flex;
    justify-content: center;
}

.info-mac {
    background-color: red;
    width: 50%;
}



/* Footer CSS */
footer a {
    display: flex;
    flex-direction: column;
}

.footer-container {
    background: skyblue;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    padding: 20px;
    text-align: center;
    line-height: 30px;
    
}





#nav-account {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}







/*new content  march 18*/
.content-container {
display: flex;

}

.side-pic {
    width: 50%;
}

.side-pic img {
    width: 100%;
    height: 100%;
}



.side-info {
    display: grid;
    grid-template: repeat(3) / repeat(1);
    place-items: center;
    background-color: rgba(135, 206, 235, 0.5);
    width: 50%;
    color: var(--secondary-color);
    background: url(../resources/material_background.svg);
}

.side-info p {
    text-align: center;
    font-size: 3rem;
    
    
}

#side-info-button {
    font-size: 1.5rem;
    padding: 0rem 10rem;
    margin-top: 50px;
}

.get-started {
    text-align: center;
    line-height: 5rem;
}

.get-started strong {
    color: rgb(30, 30, 185);;
    
}

/*social links*/



 /*row3 main page*/
 #hr-row3 {
  border-bottom: 3px solid #000;
  border-radius: 7px;
  width: 100px;
 }

 ul {
  list-style: none;
 }



.cardzzzz {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}


 #scroll-container, #mtg-container {
  overflow-x: scroll;
  white-space: nowrap;
}

/*to hide scrollbar in firefox*/
#mtg-container {
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar in IE10+ */
}

/* to hide scrollbar in chrome/safari*/
#mtg-container::-webkit-scrollbar {
  display: none;
}

#mtg-wrapper {
  
  display: inline-block;
  animation: scroll 20s linear infinite;
}

#mtg-heading {
  white-space: nowrap;
}

#card {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin-right: 20px;
  background-color: #ccc;
  border-radius: 7px;
}

#rates {
  display: inline-block;
  margin-right: 100px;
}

#card:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-220px * 4));
  }
}










