/* Top Header (Nav and main) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* outline: 1px solid red !important; */
   /* background: rgb(100 0 0 / 0.1) !important; */
}

body {
    background-color: #a9a9a9 ;
    /*background: url(../resources/blurry_background.svg);*/
    font-size: 16px;
    font-family: Questrial, "Times New Roman", sans-serif;
}

/*@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait), (orientation: landscape){
    
    body{
      width: auto;  
    }
    
}

@media only screen and (min-height: 320px) and (max-height: 1200px), (orientation: portrait), (orientation: landscape){
    
    body{
        height: auto;
    }
    
} */

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121; 
}

.dark-theme {
    --primary-color: #252525;
    --secondary-color: #fff;
}  

/*main {
    display: grid;
    min-height: 100vh;
    font-family: Questrial, "Times New Roman", sans-serif;
    place-items: center;
    overflow:  hidden;
    margin: 0;
    background-color: 
    font-size: 0.75rem;
}*/

/* CSS for Header */
header {
    color: #212121;
    display: flex;
    justify-content: space-between;
    max-height: 4vh;
    z-index: 1;
    position: fixed;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    
    font-family: Questrial, "Times New Roman", sans-serif;
    font-size: 1rem;
    font-weight: 700;
}



header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 0.2rem;
}

.links-container {
    display: flex;
    align-items: center;
    transition: all 0.50s ease-out;
    
}

.links-container a:hover {
    color: skyblue;
}


header button {
    padding: 0.5rem 0rem;
}



#icon {
    cursor: pointer;
}

nav a, .links-container a {
    margin: 30px;
    text-decoration: none;
    color: #212121;
}





/* CSS for main */

.welcome-home{ 
  color: #212121;
  font-size: 2rem;
  text-align: center;
  filter: blur(0px);
  transition: filter 0.3s ease-in-out;
  background-image: url(../resources/main-page-banner1.svg);
  background-size: cover;
  padding: 50px;
  line-height: 10rem;
  position: relative;
} 

.welcome-home::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Add desired opacity value */
  }
  
  /* Adjust the z-index property to ensure the overlay is behind the content */
  .welcome-home > * {
    position: relative;
    z-index: 1;
  }




.logo-welcome-home {
   padding-top: 4rem;
}



#search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



#search-bar {
   display: block;
   padding: 2rem 10rem;
   font-size: 1.3rem;
   font-family: Questrial, 'Times New Roman', sans-serif;
   
}

#index-page-search {
    color: #212121;
}




button {
    color: var(--secondary-color);
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background: skyblue;
    padding: 1rem 3rem;
    font-family: Questrial, "Times New Roman", sans-serif;
    font-weight: bold;
    transition: all 0.50s ease-out;
}


button:hover {
    box-shadow: 0 0 10px var(--secondary-color);
}



.search-blur {
    filter: blur(3px);
    -webkit-filter: blur(3px);
} 





.grid-container-container {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    background: url(../resources/blurry_background.svg);
    align-content: space-between;
    /*min-width: 100%;*/
    /*min-height: 60vh;*/
    /*background-color: skyblue;*/
    /*background: url(../resources/elite_background.svg);*/
    width: 100%;
    padding: 50px 0px;
    
}

.elite-description {
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    font-size: 2rem;
    /*width: 50%;*/
}



#index-table {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    box-shadow: 0px 5px 10px #212121;
    border-radius: 30px;
    padding: 2rem;
    
}





#index-table tr th {
    font-weight: 900;
    padding: 2rem;
    cursor: default;
    background-image: linear-gradient(90deg, skyblue, blue, aqua, skyblue); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

 #index-table td {
    background-image: linear-gradient(90deg, skyblue, blue, aqua, skyblue); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0.5rem;
    font-weight: bolder;
    font-size: 1.2rem;
}

#index-table td a {
    text-decoration: none;
}

#free {
    color: var(--secondary-color);
}

.table-btn {
    display: flex;
    justify-content: center;
    text-align: center;
}



.grid-container {
    /*background-color: var(--secondary-color);*/
    /*width: 50%;*/
    text-align: center;
    display: flex;
    justify-content: center;
    /*min-height: 50vh;*/
    /*perspective: 1000px; dont knw yet because when u move it it goes over headerlogobig*/
    /*background: pink; */
}
  
.grid-container h1 {
    display: flex;
    align-items: center;
}

/*.mid-mid {
    background: #252525;
    width: 100%;
    
}*/



.elite-description h1 {
   /* background-image: linear-gradient(90deg, red, blue, white); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;*/
    color: var(--secondary-color);
    font-weight: 900;
    font-size: 3rem;
    /*text-shadow:
    0.1em 0.1em 0 var(--primary-color);*/
}

#xmark {
    color: red;
}

#checkmark {
    color: green;
}

.city {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background: mediumspringgreen;*/
    
}

.city img {
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
    
}





.sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}

.sizes button, .table-price {
    background-image: linear-gradient(90deg, skyblue, blue, aqua, skyblue); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    /*box-shadow: 0px 5px 10px var(--secondary-color);*/
    border-radius: 30px;
    font-weight: bold;
    /*width: 40%;*/
    cursor: default;
}

.purchase {
    margin-top: 5rem;
    
    
}

.purchase button, .table-btn2 {
    width: 50%;
    padding: 1rem 0rem;
    background: linear-gradient(90deg, blue, skyblue, aqua, skyblue);
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    border-radius: 7px;
    font-weight: bolder;
    transition: all 0.50s ease-out;
    margin: auto;
}

.table-btn {
    background: skyblue;
    margin: auto;
    width: 50%;
    padding: 1rem 0rem;
}

.purchase button:hover, .table-btn:hover {
    box-shadow: 0 0 10px var(--secondary-color);
}

/* Context CSS */
.context-description{
    text-align: center;
    color: var(--secondary-color);
}

.logos{
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    gap: 20px;
    /*width: 100%;*/
    font-family: Questrial, "Times New Roman", sans-serif;
    justify-items: center;
    
    text-align: center;
}

.logo, .buy-top, .sell-top, .rent-top, .invest-top{
    color: var(--secondary-color);
    box-shadow: 0px 5px 10px var(--secondary-color);
    border-radius: 30px;
    padding: 5rem 5rem;
    transition: all 0.25s ease-out;
}

.invest-top {
    padding-right: 4rem !important;
}

.logo {
    font-size: 1.5rem;
    text-align: center;
}

.buy-top, .sell-top, .rent-top, .invest-top {
    background: skyblue;
    color: #212121;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.logo:hover, .buy-top:hover, .sell-top:hover, .rent-top:hover, .invest-top:hover {
    box-shadow: 0px 10px 20px skyblue;
    cursor: pointer;
    
}



.bottom-container,.bottom-container0, .bottom-container2 {
    /*width: 100%;*/
    
    /*background: skyblue;*/
    
    padding: 50px 0px;
    margin: 0rem 20rem;
} 

.bottom-container0 h1 {
    
    color: skyblue;
    font-weight: 900;
    font-size: 1.5rem;
    
    margin-bottom: 10px;
}

.bottom-container0 h3 {
    margin-right: 10px;
}






.bottom-container0 p {
    font-size: 1rem;
    color: var(--secondary-color);
}

.bottom-container2 h1{
   /* width: 100%;*/
    font-weight: bolder;
    color: skyblue;
    margin-bottom: 10px;
}
.bottom-container2 p {
    color: var(--secondary-color);
}

.bottom-container2 h1 {
    font-size: 1.5rem;
}

.citiez {
    background: skyblue;
    border-radius: 30px;
    box-shadow: 0px 5px 10px #212121;
    outline: red 1px solid;
    display: flex;
    align-items: center;
    padding: 150px;
    font-size: 1.5rem;
}



.trending-city-container{
    display: grid;
    gap: 20px;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    border-radius: 30px;
    color: #212121;
    
}



/* Footer CSS */
footer a {
    display: flex;
    flex-direction: column;
}

.footer-container {
    background: skyblue;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    padding: 20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5rem;
}













/*new content  march 18*/
.content-container {
display: flex;

}

.side-pic {
    
    width: 50%;
}

.side-pic img {
    width: 100%;
    height: 100%;
}



.side-info {
    display: grid;
    grid-template: repeat(3) / repeat(1);
    place-items: center;
    background-color: rgba(135, 206, 235, 0.5);
    width: 50%;
    color: var(--secondary-color);
    
}

.side-info p {
    text-align: center;
    font-size: 3rem;
    
    
}

.side-info button {
    
    font-size: 1.5rem;
}

.get-started {
    text-align: center;
    line-height: 5rem;
}

.get-started strong {
    color: rgb(30, 30, 185);;
    
}

.grid-1 {
    display: flex;
    align-items: center;
    
    
}

.card svg {
    height: 25px;
  }
  
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 50px;
    width: 200px;
    border-radius: 7px;
    
  }
  
  .card::before, .card::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
  }
  
  .card::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: skyblue;
  }
  
  .card::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: skyblue;
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card:hover span {
    opacity: 0;
    z-index: -3;
  }
  
  .card:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  
  .card:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
  }
  
  .card span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #212121;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    
  }
  
  .card .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  .card .social-link svg {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
    transform: scale(1);
  }
  
  .card .social-link:hover {
    background-color: rgba(249, 244, 255, 0.774);
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }


 